
AGSpriteButton.xcodeproj/project.xcworkspace/xcuserdata/Partinder.xcuserdatad/UserInterfaceState.xcuserstate

AGSpriteButton.xcodeproj/project.xcworkspace/xcuserdata/xprees.xcuserdatad/UserInterfaceState.xcuserstate

*.xcscheme

AGSpriteButton.xcodeproj/xcuserdata/xprees.xcuserdatad/xcschemes/xcschememanagement.plist
